/* lg (<=1199px) */
@media (max-width: 1199px) {
  // Large devices (desktops, less than 1200px)
}

/* md (<=991px) */
@media (max-width: 991px) {

  // Medium devices (tablets, less than 992px)
  .header-menu {
    font-size: 0.5rem;

    &__link {
      padding: 5px 5px;
      margin-left: 5px;
    }
  }
}

/* sm (<=768px) */
@media (max-width: 767px) {

  // Small devices (landscape phones, less than 768px)
  .header {
    &-wrapper {
      display: none;
    }

    .gallery__list {
      margin-right: 0;
    }
  }

  .onepage-pagination {
    display: none;
  }

  .cat,
  .bird,
  .fox,
  .dog {
    padding-top: 70px;
  }

  .bird {
    background-position-x: 75%;
  }

  .fox {
    background-position-x: 10%;
  }
}

/* xs(<=575px) */
@media (max-width: 575px) {

  // Extra small devices (portrait phones, less than 576px)
  .bird .front__logo {
    top: 5px;
    right: 5px;
    width: 65px;
    height: 60px;
  }

  .fox .front__logo {
    top: 5px;
    width: 60px;
    height: 55px;
  }
}