@import "mixins/mixins";

$default-font: "roboto-example", sans-serif;
$main-font: "QuattrocentoSans";
$caption-font: "SpecialElite-Regular";
$cabinsketch: "Cabin_Sketch";
$sortmill: "SortsMillGoudy";
$vidaloka: "Vidaloka-Regular";
$volkhov: "Volkhov";
$populaire: "Populaire";

$def-fnz: 16px;
$orange-hover:#D05301;
$accent: $orange-hover;
$bgcolor: #000;
$borderColor: #0d0d0d;
$white: #fff;

$blue-hover: #63B2B6;
$captionColor: #F1B930;	
$modalBorder: rgba(240,185,45,0.2);
$navbar-bg: rgba(10,10,10,0.98);
$opacity-bg: rgba(0,0,0,0.7);
$total: #0F376F;


// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px);

$gutter: $grid-gutter-width;