@import "vars";

@import "fonts";

::placeholder {
  color: #ccc;
  @include transition;
}

::selection {
  background-color: $accent;
  color: #fff;
}

html,
body {
  height: 100%;

}

body {
  font-size: $def-fnz;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: $default-font;
  overflow-x: hidden;

  background-color: $bgcolor;
  color: $white;
}

.opacity {
  display: none;

	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;

	background-color: $opacity-bg;

	z-index: 2;
	&.active {
		display: block;
	}
}

input,
textarea {
  border: 1px solid #ccc;
  padding: 10px;
  outline: none;
  @include transition;
  &:focus:required:invalid {
    border-color: red;
  }
  &:required:valid {
    border-color: green;
  }
}

a {
  text-decoration: none;
  color: $white;
}

.header {
  position: fixed;
  z-index: 2;

  width: 100%;

  font-family: $main-font;

  &-wrapper {
    background-color: $navbar-bg;
  }

  &__logo {
    display: block;

    width: 90px;
    height: 60px;
    img {
      @include img100;
      cursor: pointer;
    }
  }

  .donate-flag {  
    position: absolute;
    right: 40px;
    top: 45px;
    width: 70px;
    height: 40px;
    img {
      @include img100;
    }
  }
}

.header-menu {
  &__item {
    padding: 5px 10px;
    margin-left: 1.2rem;
    list-style: none;
    
    border-radius: 3em;
    border: 2px solid $navbar-bg;
    cursor: pointer;
    transition-duration: 0.3s;
    a {
      font-family: $sortmill;
      color: $white;
      font-weight: bold;
      font-size: 0.8rem;
      text-transform: uppercase;
      letter-spacing: 3px;
      text-decoration: none;
      text-shadow: 1px 1px 0 $orange-hover;
    }
    &:hover {
      border: 2px solid $captionColor;
     
      transition-duration: 0.3s;
      a {
        color: $captionColor;
      }
    }
  }
}

.mobile-menu {
  position: fixed;
  width: 100%;
  top: -100%;
  background-color: $navbar-bg;
  @include transition;
  &__item {
    width:50%;
    margin: 20px auto;
  }
  &.show {
    @include transition;
    top: 0;
    z-index: 2;
  }
}

.hamburger-button {
  display: block;
  position: absolute;
  
	top: 1rem;
  right: 1rem;
  
	width: 40px;
  height: 34px;
  
  z-index: 100;
  @include transition;
  span {
		position: absolute;
		height: 3px;
		border-radius: 4px;
		width: 100%;
		background-color: $white;
		top: 0;
    transition: transform .2s ease-in-out, opacity .2s ease-in-out;
    &:nth-child(2), &:nth-child(3) {
			top: 13px;
    }
    &:nth-child(4) {
			top: 26px;
		}
  }
  &.active span {
    &:nth-child(1), &:nth-child(4) {
			opacity: 0;
    }
    &:nth-child(2) {
			transform: rotate(45deg);
    }
    &:nth-child(3) {
			transform: rotate(-45deg);
		}
  }
}

.social-icons {
  li {
    list-style: none;
    margin: 0.15em;
    position: relative;
    font-size: 1em;
  }

  i {
    color: #fff;
    position: absolute;
    top: 50%;
    margin-top: -9px;
    left: 50%;
    margin-left: -7px;
    @include transition;
  }

  .fa-facebook {
    margin-left: -6px;
  }

  a {
    display: block;
    &:before {
      content: " ";
      display: block;
      width: 30px;
      height: 30px;
      transition: all 0.3s ease-out;
    }
    &:hover i {
      transform: scale(1.2);
      @include transition;
    }
    &.social-square {
      &:before {
        background: linear-gradient(45deg, $orange-hover, $captionColor);
        border-radius: 10%;
      }
    }
    &:hover {
      &:before {
        transform: rotate(-180deg);
        border-radius: 100%;
      }
    }
  }
}

.primary-button {
  position: relative;

  font-family: $sortmill;
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $white;

  background-color: transparent;
  border-radius: 3%;
  padding: 0 15px;
  border: 2px solid $captionColor;
  cursor: pointer;
  z-index: 2;
  @include transition;
  span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    overflow: hidden;
    @include transition;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: -200%;
      width: 150%;
      height: 100%;
      background-color: $captionColor;
      transform: skew(-15deg, 0);
      transition: 1s;
    }
  }
  &:hover {
    span:before {
      left: -25%;
    }

  }
  &:focus {
    outline: none;
  }
}

.modal {
  &-donate {
    background-color: $navbar-bg;
    border: 1px solid $modalBorder;
    &__title {
      color: $captionColor;
      font-family: $volkhov;
    }
  }
  .fa-user {
    font-size: 20px;
  }
  .close:focus, span:focus {
    outline: none;
  }
  input {
    border-radius: 3em;
    &:hover {
      box-shadow: 0 0 1em $captionColor;
    }
  }
  label {
    font-family: $volkhov;
    font-size: 0.75rem;
  }
}

.onepage-pagination {
  li {
    a {
      &:before {
        background-color: $white;
      }
      &.active:before {
        border: 2px solid $white;
        background-color: $white;
      }
    }
  }
}


.cat, .bird, .fox, .dog {
  padding-top: 110px;
}
.cat {
  @include bgimage("leocat");
 }

.card-wrapper {

  .card {
    display: none;
    position: relative;
    
    min-height: 325px;
  
    perspective: 1000px;
   
    background-color: transparent;
    cursor: pointer;
    &:hover .front {
      transform: rotateY(180deg);
    }
    &:hover .back {
      transform: rotateY(360deg);
    }
  }
  .front, .back {
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    backface-visibility: hidden;
    border-radius: 10px;
    background-color: $navbar-bg;
    border: 2px solid $borderColor;
    padding: 15px;
    @include transition;
    &__logo {
      position: absolute;
      top: 0;
      right: 10px;
      width: 90px;
      height: 65px;
      img {
        @include img100;
      }
    }
  }
  .back {
    transform: rotateY(180deg);
    &__logo {
      top: 60%;
      right: 50%;
      margin-right: -50px;
      width: 100px;
      height: 90px;
      img {
        border-radius: 50%;
      }
    }
  }
  .fa {
    margin-right: 5px;
  }
}

.hover-360 {
  width: 35px;
  height: 20px;
  animation-name: 'hover-me';
  animation-duration: 3s;
  animation-iteration-count: 5;

  img {
    width: 100%;
    height: 100%;
  }
  @keyframes hover-me {

  0% {
    opacity: 0;
    }
    100% {
    opacity: 1;
    }
  }
}

.gallery {
  &__list {
    list-style: none;
    margin-right: 20px;
    margin-bottom: 10px;
  }
  &__link {
    width: 110px;
    height: 85px;
    border: 2px solid $borderColor;
    border-radius: 3px;
    display: block;
    overflow: hidden;
    position: relative;
    &:hover {
      .gallery__overlay-icon {
        opacity: 1;
      }
      .gallery__overlay {
        background-color: rgba(0, 0, 0, 0.5);
      }
      .gallery__img {
        transform: scale3d(1.1, 1.1, 1.1);
      }
    }
  }
  &__img {
    transition: transform 0.15s ease 0s;
    transform: scale3d(1, 1, 1);
    height: 100%;
    width: 100%;
  }
  &__overlay {
    background-color: rgba(0, 0, 0, 0.1);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: background-color 0.15s ease 0s;
    &-icon {
      left: 50%;
      margin-left: -10px;
      margin-top: -10px;
      opacity: 0;
      position: absolute;
      top: 50%;
      transition: opacity 0.3s ease 0s;
      color: $white;
      font-size: 20px;
    }
  }
}

.bird {
  @include bgimage("orel");
  // background-position-x: 20%;
  background-position: top;
  .front__logo {
    top: 20px;
    right: 15px;
    width: 80px;
    height: 75px;
  }
  .owl-carousel {
    .carousel-pic{
      width: 100px;
      height: 100px;
      margin: 0 auto;
      img {
        @include img100;
        cursor: pointer;
      }
    }
    .owl-nav {
      button {
        outline: none;
        position: absolute;
        top: 50%;
        margin-top: -30px;
        @include transition;
        &:hover {
          cursor: pointer;
          border-radius: 50%;
          background-color: $orange-hover;
        }
        img{
          width: 30px;
          height: 30px;
        }
      }
      .owl-next {
        right: 0;
      }
      .owl-prev {
        left: 0;
        transform: rotate(180deg);
      }
    }
  }
}

.fox {
  @include bgimage("fox");
  // background-position-x: 20%;
  .front__logo {
    top: 25px;
    width: 85px;
    height: 75px;
  }
  &__total {
   font-family: $volkhov;
    .fa {
      font-size: 30px;
      color: $orange-hover;
    }
    span {
      display: block;
      font-family: $populaire;
      letter-spacing: 0.2rem;
      font-size: 2rem;
      color: #0F376F;
      font-weight: bold;
    }
  }
}

.primary {
  &-caption {
    position: relative;
    color: $white;
    padding: 5px;
  
    display: flex;
    align-items: center;
    font-family: $sortmill;
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 4px;

    span, &--orange {
      margin-left: 10px;
      color: $orange-hover;
      font-family: $cabinsketch;
      font-size: 0.9rem;
    }

    margin-bottom: 20px;
    font-weight: bold;
  }
  &-desc {
    font-family: $sortmill;
  }
  &-link {
      color: $orange-hover;
      font-family: $cabinsketch;
      font-size: 1.1rem;
      @include transition;
      text-transform: uppercase;  
    &:hover {
      text-decoration: none;
      color: $white;    
    }
  }
}

.animation {
  transition-duration: 1s;
}

.main-content {
  font-size: 0.8rem;
}

@import "media"; // Always at the end
@import "default-styles";
