@font-face {
  font-family: "roboto-example";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype"); }

@font-face {
  font-family: "roboto-example";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype"); }

@font-face {
  font-family: "QuattrocentoSans";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Quattrocento_Sans/QuattrocentoSans.eot");
  src: url("../fonts/Quattrocento_Sans/QuattrocentoSans.eot?#iefix") format("embedded-opentype"), url("../fonts/Quattrocento_Sans/QuattrocentoSans.woff") format("woff"), url("../fonts/Quattrocento_Sans/QuattrocentoSans.ttf") format("truetype"); }

@font-face {
  font-family: "Cabin_Sketch";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Cabin_Sketch/CabinSketch-Regular.eot");
  src: url("../fonts/Cabin_Sketch/CabinSketch-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Cabin_Sketch/CabinSketch-Regular.woff") format("woff"), url("../fonts/Cabin_Sketch/CabinSketch-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "SortsMillGoudy";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Sorts_Mill_Goudy/SortsMillGoudy-Regular.eot");
  src: url("../fonts/Sorts_Mill_Goudy/SortsMillGoudy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Sorts_Mill_Goudy/SortsMillGoudy-Regular.woff") format("woff"), url("../fonts/Sorts_Mill_Goudy/SortsMillGoudy-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Vidaloka";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Vidaloka/Vidaloka-Regular.eot");
  src: url("../fonts/Vidaloka/Vidaloka-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Vidaloka/Vidaloka-Regular.woff") format("woff"), url("../fonts/Vidaloka/Vidaloka-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Volkhov";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Volkhov/Volkhov-Regular.eot");
  src: url("../fonts/Volkhov/Volkhov-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Volkhov/Volkhov-Regular.woff") format("woff"), url("../fonts/Volkhov/Volkhov-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Populaire";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Populaire/Populaire.eot");
  src: url("../fonts/Populaire/Populaire.eot?#iefix") format("embedded-opentype"), url("../fonts/Populaire/Populaire.woff") format("woff"), url("../fonts/Populaire/Populaire.ttf") format("truetype"); }

::-webkit-input-placeholder {
  color: #ccc;
  -webkit-transition: 0.4s ease-in;
  -o-transition: 0.4s ease-in;
  transition: 0.4s ease-in; }

::-moz-placeholder {
  color: #ccc;
  -webkit-transition: 0.4s ease-in;
  -o-transition: 0.4s ease-in;
  transition: 0.4s ease-in; }

::-ms-input-placeholder {
  color: #ccc;
  -webkit-transition: 0.4s ease-in;
  -o-transition: 0.4s ease-in;
  transition: 0.4s ease-in; }

::placeholder {
  color: #ccc;
  -webkit-transition: 0.4s ease-in;
  -o-transition: 0.4s ease-in;
  transition: 0.4s ease-in; }

::-moz-selection {
  background-color: #D05301;
  color: #fff; }

::selection {
  background-color: #D05301;
  color: #fff; }

html,
body {
  height: 100%; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: "roboto-example", sans-serif;
  overflow-x: hidden;
  background-color: #000;
  color: #fff; }

.opacity {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2; }
  .opacity.active {
    display: block; }

input,
textarea {
  border: 1px solid #ccc;
  padding: 10px;
  outline: none;
  -webkit-transition: 0.4s ease-in;
  -o-transition: 0.4s ease-in;
  transition: 0.4s ease-in; }
  input:focus:required:invalid,
  textarea:focus:required:invalid {
    border-color: red; }
  input:required:valid,
  textarea:required:valid {
    border-color: green; }

a {
  text-decoration: none;
  color: #fff; }

.header {
  position: fixed;
  z-index: 2;
  width: 100%;
  font-family: "QuattrocentoSans"; }
  .header-wrapper {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: rgba(10, 10, 10, 0.98); }
  .header__logo {
    display: block;
    width: 90px;
    height: 60px; }
    .header__logo img {
      width: 100%;
      height: 100%;
      cursor: pointer; }
    .header__logo--mobile {
      width: 125px;
      height: 80px; }
  .header .donate-flag {
    position: absolute;
    right: 40px;
    top: 45px;
    width: 70px;
    height: 40px; }
    .header .donate-flag img {
      width: 100%;
      height: 100%; }

.content-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%; }

.header-menu {
  font-family: "SortsMillGoudy";
  font-weight: bold;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-shadow: 1px 1px 0 #D05301;
  list-style: none; }
  .header-menu__link {
    display: block;
    padding: 5px 10px;
    margin-left: 1.2rem;
    -webkit-border-radius: 3em;
            border-radius: 3em;
    border: 2px solid rgba(10, 10, 10, 0.98);
    -webkit-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
            transition-duration: 0.3s; }
    .header-menu__link:hover {
      color: #F1B930;
      border: 2px solid #F1B930;
      text-decoration: none; }

.mobile-menu {
  position: fixed;
  top: -100%;
  width: 100%;
  text-align: center;
  background-color: rgba(10, 10, 10, 0.98);
  -webkit-transition: 0.4s ease-in;
  -o-transition: 0.4s ease-in;
  transition: 0.4s ease-in; }
  .mobile-menu__item {
    font-size: 0.9rem;
    width: 45%;
    margin: 20px auto; }
  .mobile-menu.show {
    top: 0;
    z-index: 2; }

.hamburger-button {
  display: block;
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 40px;
  height: 34px;
  z-index: 100;
  -webkit-transition: 0.4s ease-in;
  -o-transition: 0.4s ease-in;
  transition: 0.4s ease-in; }
  .hamburger-button span {
    position: absolute;
    top: 0;
    height: 3px;
    width: 100%;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    background-color: #fff;
    -webkit-transition: opacity 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
    -o-transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out; }
    .hamburger-button span:nth-child(2), .hamburger-button span:nth-child(3) {
      top: 13px; }
    .hamburger-button span:nth-child(4) {
      top: 26px; }
  .hamburger-button.active span:nth-child(1), .hamburger-button.active span:nth-child(4) {
    opacity: 0; }
  .hamburger-button.active span:nth-child(2) {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
  .hamburger-button.active span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }

.social-icons li {
  position: relative;
  font-size: 1em;
  margin: 0.15em;
  list-style: none; }

.social-icons i {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -9px;
  margin-left: -7px;
  color: #fff;
  -webkit-transition: 0.4s ease-in;
  -o-transition: 0.4s ease-in;
  transition: 0.4s ease-in; }

.social-icons .fa-facebook {
  margin-left: -6px; }

.social-icons a {
  display: block; }
  .social-icons a:before {
    content: " ";
    display: block;
    width: 30px;
    height: 30px;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out; }
  .social-icons a:hover i {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition: 0.4s ease-in;
    -o-transition: 0.4s ease-in;
    transition: 0.4s ease-in; }
  .social-icons a.social-square:before {
    background: -webkit-linear-gradient(45deg, #D05301, #F1B930);
    background: -o-linear-gradient(45deg, #D05301, #F1B930);
    background: linear-gradient(45deg, #D05301, #F1B930);
    -webkit-border-radius: 10%;
            border-radius: 10%; }
  .social-icons a:hover:before {
    -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
            transform: rotate(-180deg);
    -webkit-border-radius: 100%;
            border-radius: 100%; }

.primary-button {
  position: relative;
  font-family: "SortsMillGoudy";
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  padding: 0 15px;
  background-color: transparent;
  -webkit-border-radius: 3%;
          border-radius: 3%;
  border: 2px solid #F1B930;
  cursor: pointer;
  z-index: 2;
  -webkit-transition: 0.4s ease-in;
  -o-transition: 0.4s ease-in;
  transition: 0.4s ease-in; }
  .primary-button span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    overflow: hidden;
    -webkit-transition: 0.4s ease-in;
    -o-transition: 0.4s ease-in;
    transition: 0.4s ease-in; }
    .primary-button span:before {
      content: "";
      position: absolute;
      top: 0;
      left: -200%;
      width: 150%;
      height: 100%;
      background-color: #F1B930;
      -webkit-transform: skew(-15deg, 0);
          -ms-transform: skew(-15deg, 0);
              transform: skew(-15deg, 0);
      -webkit-transition: 1s;
      -o-transition: 1s;
      transition: 1s; }
  .primary-button:hover span:before {
    left: -25%; }
  .primary-button:focus {
    outline: none; }

.animation {
  -webkit-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s; }

.modal__donate {
  background-color: rgba(10, 10, 10, 0.98);
  border: 1px solid rgba(240, 185, 45, 0.2); }

.modal__title {
  color: #F1B930;
  font-family: "Volkhov"; }

.modal__close {
  -webkit-transition: 0.4s ease-in;
  -o-transition: 0.4s ease-in;
  transition: 0.4s ease-in; }
  .modal__close:hover {
    color: #D05301; }

.modal .fa-user {
  font-size: 20px; }

.modal .close:focus,
.modal span:focus {
  outline: none; }

.modal input {
  -webkit-border-radius: 4px;
          border-radius: 4px; }
  .modal input:focus {
    -webkit-box-shadow: 0 0 1em #F1B930;
            box-shadow: 0 0 1em #F1B930; }
  .modal input::-webkit-input-placeholder {
    letter-spacing: 0.1rem; }
  .modal input::-moz-placeholder {
    letter-spacing: 0.1rem; }
  .modal input::-ms-input-placeholder {
    letter-spacing: 0.1rem; }
  .modal input::placeholder {
    letter-spacing: 0.1rem; }

.modal label {
  font-family: "Volkhov";
  font-size: 0.75rem; }

textarea,
input {
  font-family: "FontAwesome"; }

.onepage-pagination li a:before {
  background-color: #fff; }

.onepage-pagination li a.active:before {
  border: 2px solid #fff;
  background-color: #fff; }

.cat {
  background-image: url("../img/leocat.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center; }

.card-wrapper .card {
  display: none;
  position: relative;
  min-height: 335px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  background-color: transparent;
  cursor: pointer; }
  .card-wrapper .card:hover .front {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg); }
  .card-wrapper .card:hover .back {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg); }

.card-wrapper .front,
.card-wrapper .back {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 15px;
  background-color: rgba(10, 10, 10, 0.98);
  border: 2px solid #0d0d0d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  -webkit-transition: 0.4s ease-in;
  -o-transition: 0.4s ease-in;
  transition: 0.4s ease-in; }
  .card-wrapper .front__logo,
  .card-wrapper .back__logo {
    position: absolute;
    top: 0;
    right: 10px;
    width: 90px;
    height: 65px; }
    .card-wrapper .front__logo img,
    .card-wrapper .back__logo img {
      width: 100%;
      height: 100%; }

.card-wrapper .back {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg); }
  .card-wrapper .back__logo {
    top: 60%;
    right: 50%;
    margin-right: -50px;
    width: 100px;
    height: 90px; }
    .card-wrapper .back__logo img {
      -webkit-border-radius: 50%;
              border-radius: 50%; }

.card-wrapper .fa {
  margin-right: 5px; }

.hover-360 {
  width: 35px;
  height: 20px;
  -webkit-animation-name: "hover-me";
          animation-name: "hover-me";
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: 5;
          animation-iteration-count: 5; }
  .hover-360 img {
    width: 100%;
    height: 100%; }

@-webkit-keyframes hover-me {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes hover-me {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.gallery {
  height: 180px;
  overflow: auto; }
  .gallery__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    padding: 0;
    margin-bottom: 0; }
  .gallery__list {
    list-style: none;
    margin-bottom: 10px; }
  .gallery__link {
    position: relative;
    display: block;
    width: 110px;
    height: 85px;
    border: 2px solid #0d0d0d;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    overflow: hidden; }
    .gallery__link:hover .gallery__overlay-icon {
      opacity: 1; }
    .gallery__link:hover .gallery__overlay {
      background-color: rgba(0, 0, 0, 0.7); }
    .gallery__link:hover .gallery__img {
      -webkit-transform: scale3d(1.1, 1.1, 1.1);
              transform: scale3d(1.1, 1.1, 1.1); }
  .gallery__img {
    height: 100%;
    width: 100%;
    -webkit-transition: -webkit-transform 0.15s ease 0s;
    transition: -webkit-transform 0.15s ease 0s;
    -o-transition: transform 0.15s ease 0s;
    transition: transform 0.15s ease 0s;
    transition: transform 0.15s ease 0s, -webkit-transform 0.15s ease 0s;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); }
  .gallery__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    -webkit-transition: background-color 0.15s ease 0s;
    -o-transition: background-color 0.15s ease 0s;
    transition: background-color 0.15s ease 0s; }
    .gallery__overlay-icon {
      position: absolute;
      left: 50%;
      top: 50%;
      font-size: 20px;
      color: #fff;
      margin-left: -10px;
      margin-top: -10px;
      opacity: 0;
      -webkit-transition: opacity 0.3s ease 0s;
      -o-transition: opacity 0.3s ease 0s;
      transition: opacity 0.3s ease 0s; }

::-webkit-scrollbar {
  width: 8px; }
  ::-webkit-scrollbar-track {
    background-color: #0d0d0d; }
  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
            border-radius: 5px;
    background-color: #000;
    -webkit-box-shadow: 0px 0px 1px #fff inset;
            box-shadow: 0px 0px 1px #fff inset; }

.bird {
  background-image: url("../img/orel.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  background-position: top; }
  .bird .front__logo {
    top: 20px;
    right: 15px;
    width: 80px;
    height: 75px; }
  .bird .owl-carousel__wrapper {
    background-color: rgba(35, 24, 24, 0.23); }
  .bird .owl-carousel .carousel-pic {
    width: 100px;
    height: 100px;
    margin: 0 auto; }
    .bird .owl-carousel .carousel-pic img {
      width: 100%;
      height: 100%;
      cursor: pointer; }
  .bird .owl-carousel .owl-nav button {
    position: absolute;
    top: 50%;
    margin-top: -30px;
    outline: none;
    -webkit-transition: 0.4s ease-in;
    -o-transition: 0.4s ease-in;
    transition: 0.4s ease-in; }
    .bird .owl-carousel .owl-nav button:hover {
      cursor: pointer;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      background-color: #D05301; }
    .bird .owl-carousel .owl-nav button img {
      width: 30px;
      height: 30px; }
  .bird .owl-carousel .owl-nav .owl-next {
    right: 0; }
  .bird .owl-carousel .owl-nav .owl-prev {
    left: 0;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }

.fox {
  background-image: url("../img/fox.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center; }
  .fox .front__logo {
    top: 25px;
    width: 85px;
    height: 75px; }
  .fox__total {
    font-family: "Volkhov"; }
    .fox__total .fa {
      font-size: 35px;
      color: #D05301; }
    .fox__total span {
      display: block;
      font-family: "Populaire";
      font-size: 2rem;
      font-weight: bold;
      color: #0F376F;
      letter-spacing: 0.2rem; }

.primary-caption {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
  font-family: "SortsMillGoudy";
  font-size: 0.7rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #fff; }
  .primary-caption span {
    font-family: "Cabin_Sketch";
    font-size: 0.9rem;
    color: #D05301;
    margin-left: 10px; }

.primary-desc {
  font-family: "SortsMillGoudy"; }
  .primary-desc a {
    color: #F1B930;
    -webkit-transition: 0.4s ease-in;
    -o-transition: 0.4s ease-in;
    transition: 0.4s ease-in; }
    .primary-desc a:hover {
      color: #D05301;
      text-decoration: none; }

.primary-link {
  font-family: "Cabin_Sketch";
  font-size: 1.1rem;
  color: #D05301;
  text-transform: uppercase;
  -webkit-transition: 0.4s ease-in;
  -o-transition: 0.4s ease-in;
  transition: 0.4s ease-in; }
  .primary-link:hover {
    text-decoration: none;
    color: #fff; }

/* lg (<=1199px) */
/* md (<=991px) */
@media (max-width: 991px) {
  .header-menu {
    font-size: 0.5rem; }
    .header-menu__link {
      padding: 5px 5px;
      margin-left: 5px; } }

/* sm (<=768px) */
@media (max-width: 767px) {
  .header-wrapper {
    display: none; }
  .header .gallery__list {
    margin-right: 0; }
  .onepage-pagination {
    display: none; }
  .cat,
  .bird,
  .fox,
  .dog {
    padding-top: 70px; }
  .bird {
    background-position-x: 75%; }
  .fox {
    background-position-x: 10%; } }

/* xs(<=575px) */
@media (max-width: 575px) {
  .bird .front__logo {
    top: 5px;
    right: 5px;
    width: 65px;
    height: 60px; }
  .fox .front__logo {
    top: 5px;
    width: 60px;
    height: 55px; } }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.px-0 {
  padding-left: 0px;
  padding-right: 0px; }

.mx-0 {
  margin-left: 0;
  margin-right: 0; }

.container-fluid.px-0 .row {
  margin-left: 0;
  margin-right: 0; }
